<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Bank | Result</title>
    <link rel="shortcut icon" href="img/logo5.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style_cont.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>

        </label>
        <img src="img/logo6.png" alt="">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="/customers">Customers</a></li>
        </ul>
    </nav>
    <div class="containercont suc">
        <img  src="img/cross.png" alt="">
        <p><%= contentResult %></p></div>
        <footer>
            <div>
                <p class="footer">Copyright© 2021 . All rights Reserved.</p>
            </div>
        </footer>
        
</body>
</html>